html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: linear-gradient(hsl(0, 0%, 19%), hsla(0, 0%, 10%, 0.767)), url("background.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}